coverage==7.6.1
dacite==1.8.1
dependency-injector==4.42.0
Faker==30.3.0
Flask==3.0.3
gcp-microservice-utils==0.2.3
google-cloud-firestore==2.19.0
gunicorn==23.0.0
marshmallow==3.22.0
marshmallow_dataclass==8.7.1
mypy==1.11.2
passlib==1.7.4
PyJWT[crypto]==2.9.0
ruff==0.6.9
types-passlib==1.7.7.20240819
types-requests==2.32.0.20240914
unittest-parametrize==1.5.0
unittest-xml-reporting==3.2.0
